<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Lista de empleados </title>
</head>
<body>
<h1>
    Lista de Empleados
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>FIRST NAME </th>
        <th>LAST NAME </th>
        <th>LAST NAME </th>
    </tr>
    <tr th:each="employee:${employee}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>

    </tr>
</table>

</body>
</html>