<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de Items</title>
</head>
<body>
<h1>
    Lista de  todos los Items
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>FIRST NAME </th>

    </tr>
    <tr th:each="item:${item}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>

    </tr>
</table>
</body>
</html>